*{
    text-decoration: none;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'KoHo', sans-serif;
}

main{
    height: 100%;
}

.mobilMeny {
    overflow: hidden;
    background-color: #03899F;
    position: relative;
}

.linker {
    display: none;
    text-align: center;
}

.linker a {
    color: black;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}



.burgerIkon {
    width: 40px;
}

header {
    padding: 25px;
}


footer {
    height: 50px;
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.spacer {
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.spacer2 {
    height: 300px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}



.homeContainer2 {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.homeParagraph {
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;


}

.homeP {
    margin: 10px;
    text-align: center;
}

/*Contactform design*/

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.formDiv {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin: 20px;

}

input {
    border-radius: 5px;
    height: 27px;
}

input#message {
    height: 100px;
}

input.submitbutton {
    width: 150px;
    height: 30px;
}

.contacth1{
    padding-bottom: 30px;
}


/* ABOUT PAGE */

.aboutContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.aboutContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.aboutContent p {
    max-width: 400px;
}

.aboutDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 20px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}



.aboutImg{
    max-height: 100%;
    width: 100%;
}


/* Bloglist style */

.blogContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.blogContainerPost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    margin: 20px;
    padding: 20px;

}

.blogPosts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postImg {
    width: 90%;
    padding: 20px;
}

.seMer {
    height: 40px;
    width: 342px;
    border: solid rgb(51, 51, 51);
    
}

/* karusell */

.karusellContainer {
    max-width: 230px;
    min-width: 230px;
    margin: auto;
    border: 5px solid black ;
    overflow: hidden;
}



.karusellSlide {
    margin: auto;
    display: flex;
    
    width: 100%;
    height: 350px;
}

.slidePost {
    border: 5px solid black;
    min-width: 200px;
    margin: 10px;
}

/* @media screen and (min-width: 1000px) {

    .karusellContainer {
        max-width: 890px;
    }
} */